
body {
    background-color: #ff59c7;
}


th{
    font-size: 30px;
}
li{
    font-size: 30px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 25px;
}

a{
    font-size: 25px;
}
.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.nav {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
}

.nav:hover {
    background-color: black;
    border-radius: 15px;
    transition: all ease-in-out .25s;
}

.nav:hover>a {
    color: white;
}


.navlink {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
}